:hover > .tooltip.left {
  transform: translate(-100%, -50%) scale(1);
}

:hover > .tooltip.right {
  transform: translate(100%, -50%) scale(1);
}

:hover > .tooltip.bottom {
  transform: translate(-50%, 100%) scale(1);
}

.tooltip.no-space {
  ---space: 0;
}

.tooltip.medium-space {
  ---space: -1rem;
}

.tooltip.large-space {
  ---space: -1.5rem;
}

.tooltip:not(.left, .right, .bottom) {
  margin-block-start: var(---space) !important;
}

.tooltip.left,
.tooltip.right {
  margin-inline: var(---space) !important;
}

.tooltip.bottom {
  margin-block-end: var(---space) !important;
}

menu:active ~ .tooltip,
:is(button, .button):focus > menu ~ .tooltip,
.field > :focus ~ menu ~ .tooltip {
  visibility: hidden;
}

.slider > .tooltip {
  ---space: -1.25rem;
}

.slider.vertical > .tooltip {
  ---space: -0.75rem;
}

.slider.vertical > .tooltip:is(.left, .right) {
  ---space: -0.5rem;
}

.tooltip.max {
  display: block;
  font-size: inherit;
  white-space: normal;
  text-align: start;
  inline-size: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--elevate2);
}
