body.dark {
  --primary: #90d5ae;
  --surface-tint: #90d5ae;
  --on-primary: #003822;
  --primary-container: #015234;
  --on-primary-container: #abf2c9;
  --secondary: #b4ccbc;
  --on-secondary: #203529;
  --secondary-container: #364b3f;
  --on-secondary-container: #d0e8d7;
  --tertiary: #a4cddd;
  --on-tertiary: #333f43;
  --tertiary-container: #234c59;
  --on-tertiary-container: #c0e9f9;
  --warning: #dbc66f;
  --on-warning: #393000;
  --warning-container: #534600;
  --on-warning-container: #f8e287;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffdad6;
  --background: #0f1511;
  --on-background: #dfe4de;
  --surface: #0f1511;
  --on-surface: #dfe4de;
  --surface-variant: #404943;
  --on-surface-variant: #c0c9c1;
  --outline: #8a938c;
  --outline-variant: #404943;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #dfe4de;
  --inverse-on-surface: #2c322e;
  --inverse-primary: #256a4a;
  --primary-fixed: #abf2c9;
  --on-primary-fixed: #002112;
  --primary-fixed-dim: #90d5ae;
  --on-primary-fixed-variant: #015234;
  --secondary-fixed: #d0e8d7;
  --on-secondary-fixed: #0b1f15;
  --secondary-fixed-dim: #b4ccbc;
  --on-secondary-fixed-variant: #364b3f;
  --tertiary-fixed: #c0e9f9;
  --on-tertiary-fixed: #001f28;
  --tertiary-fixed-dim: #a4cddd;
  --on-tertiary-fixed-variant: #234c59;
  --surface-dim: #0f1511;
  --surface-bright: #353b36;
  --surface-container-lowest: #0a0f0c;
  --surface-container-low: #171d19;
  --surface-container: #1b211d;
  --surface-container-high: #262b27;
  --surface-container-highest: #303632;
  --surface-inverse: #f6fbf4;
  --on-surface-inverse: #171d19;
  --primary-inverse: #256a4a;
}
