:root {
  --primary: #256a4a;
  --surface-tint: #256a4a;
  --on-primary: #ffffff;
  --primary-container: #abf2c9;
  --on-primary-container: #002112;
  --secondary: #4e6356;
  --on-secondary: #ffffff;
  --secondary-container: #cfe7d6;
  --on-secondary-container: #0b1f15;
  --tertiary: #3c6472;
  --on-tertiary: #ffffff;
  --tertiary-container: #c0e9f9;
  --on-tertiary-container: #001f28;
  --warning: #6d5e0f;
  --on-warning: #ffffff;
  --warning-container: #f8e287;
  --on-warning-container: #534600;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #f6fbf4;
  --on-background: #171d19;
  --surface: #f6fbf4;
  --on-surface: #171d19;
  --surface-variant: #dce5dc;
  --on-surface-variant: #404943;

  --outline: #707972;
  --outline-variant: #c0c9c1;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #2c322e;
  --inverse-on-surface: #edf2ec;
  --inverse-primary: #90d5ae;
  --primary-fixed: #abf2c9;
  --on-primary-fixed: #002112;
  --primary-fixed-dim: #90d5ae;
  --on-primary-fixed-variant: #015234;
  --secondary-fixed: #d0e8d7;
  --on-secondary-fixed: #0b1f15;
  --secondary-fixed-dim: #b4ccbc;
  --on-secondary-fixed-variant: #364b3f;
  --tertiary-fixed: #c0e9f9;
  --on-tertiary-fixed: #001f28;
  --tertiary-fixed-dim: #a4cddd;
  --on-tertiary-fixed-variant: #234c59;
  --surface-dim: #d6dbd5;
  --surface-bright: #f6fbf4;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f0f5ee;
  --surface-container: #eaefe9;
  --surface-container-high: #e4eae3;
  --surface-container-highest: #dfe4de;
  --surface-inverse: #0f1511;
  --on-surface-inverse: #dfe4de;
  --primary-inverse: #90d5ae;
}
