:root {
  --primary: #256A4A;
  --surface-tint: #256A4A;
  --on-primary: #FFFFFF;
  --primary-container: #ABF2C9;
  --on-primary-container: #002112;
  --secondary: #4E6356;
  --on-secondary: #FFFFFF;
  --secondary-container: #CFE7D6;
  --on-secondary-container: #0B1F15;
  --tertiary: #3C6472;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #C0E9F9;
  --on-tertiary-container: #001F28;
  --warning: #6d5e0f;
  --on-warning: #ffffff;
  --warning-container: #f8e287;
  --on-warning-container: #534600;
  --error: #BA1A1A;
  --on-error: #FFFFFF;
  --error-container: #FFDAD6;
  --on-error-container: #410002;
  --background: #F6FBF4;
  --on-background: #171D19;
  --surface: #F6FBF4;
  --on-surface: #171D19;
  --surface-variant: #DCE5DC;
  --on-surface-variant: #404943;
  
  --outline: #707972;
  --outline-variant: #C0C9C1;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #2C322E;
  --inverse-on-surface: #EDF2EC;
  --inverse-primary: #90D5AE;
  --primary-fixed: #ABF2C9;
  --on-primary-fixed: #002112;
  --primary-fixed-dim: #90D5AE;
  --on-primary-fixed-variant: #015234;
  --secondary-fixed: #D0E8D7;
  --on-secondary-fixed: #0B1F15;
  --secondary-fixed-dim: #B4CCBC;
  --on-secondary-fixed-variant: #364B3F;
  --tertiary-fixed: #C0E9F9;
  --on-tertiary-fixed: #001F28;
  --tertiary-fixed-dim: #A4CDDD;
  --on-tertiary-fixed-variant: #234C59;
  --surface-dim: #D6DBD5;
  --surface-bright: #F6FBF4;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #F0F5EE;
  --surface-container: #EAEFE9;
  --surface-container-high: #E4EAE3;
  --surface-container-highest: #DFE4DE;
  --surface-inverse: #0F1511;
  --on-surface-inverse: #DFE4DE;
  --primary-inverse: #90D5AE;
}