:root {
  /* ### Base scale */
  --scale-ratio: 1.067; /* Minor Third */
  --base-size: 1rem;

  /* Type scale steps (relative to base) */
  --step--2: calc(var(--base-size) / (var(--scale-ratio) * var(--scale-ratio)));
  --step--1: calc(var(--base-size) / var(--scale-ratio));
  --step-0: var(--base-size);
  --step-1: calc(var(--base-size) * var(--scale-ratio));
  --step-2: calc(var(--step-1) * var(--scale-ratio));
  --step-3: calc(var(--step-2) * var(--scale-ratio));
  --step-4: calc(var(--step-3) * var(--scale-ratio));
  --step-5: calc(var(--step-4) * var(--scale-ratio));
  --step-6: calc(var(--step-5) * var(--scale-ratio));
  --step-7: calc(var(--step-6) * var(--scale-ratio));
  --step-8: calc(var(--step-7) * var(--scale-ratio));
  --step-9: calc(var(--step-8) * var(--scale-ratio));
  --step-10: calc(var(--step-9) * var(--scale-ratio));

  /* ### Body */
  --body-font-family: var(--font);
  --body-font-size: var(--step-0);
  --body-line-height: 1.6rem;
  --body-font-weight: 400;
  --body-letter-spacing: 0;

  /* ### Display */
  --display-font-family: var(--display);
  --display-font-size: 3.5625rem;
  --display-line-height: 4rem;
  --display-font-weight: 400;
  --display-letter-spacing: -0.015625rem;

  /* ### Headline */
  --headline-font-family: var(--display);
  --headline-font-size: 2rem;
  --headline-line-height: 2.5rem;
  --headline-font-weight: 500;
  --headline-letter-spacing: 0;

  /* ### Title */
  --title-font-family: var(--font);
  --title-font-size: 1.375rem;
  --title-line-height: 1.75rem;
  --title-font-weight: 400;
  --title-letter-spacing: 0;

  /* ### Label */
  --label-font-family: var(--font);
  --label-font-size: 0.875rem;
  --label-line-height: 1.25rem;
  --label-font-weight: 400;
  --label-letter-spacing: 0.00625rem;

  /* T E M P O R A R Y */

  /* #### Label - Large */
  --label-lg-font-family: var(--font);
  --label-lg-font-size: 0.875rem; /* 14px */
  --label-lg-line-height: 1.25rem; /* 20px */
  --label-lg-font-weight: 400;
  --label-lg-letter-spacing: 0.00625rem; /* 0.1px */

  /* #### Label - Medium */
  --label-md-font-family: var(--font);
  --label-md-font-size: 0.75rem; /* 12px */
  --label-md-line-height: 1rem; /* 16px */
  --label-md-font-weight: 400;
  --label-md-letter-spacing: 0.03125rem; /* 0.5px */

  /* #### Label - Small */
  --label-sm-font-family: var(--font);
  --label-sm-font-size: 0.6875rem; /* 11px */
  --label-sm-line-height: 1rem; /* 16px */
  --label-sm-font-weight: 400;
  --label-sm-letter-spacing: 0.03125rem;

  /* Extended type scaling */

  /* #### Hero */
  --hero-font-family: var(--display);
  --hero-font-size: 5.375rem; /* 86px */
  --hero-line-height: 1;
  --hero-font-weight: 700;
  --hero-letter-spacing: -0.25px;
}
