<section style="margin-left: 32px; margin-bottom: 32px;">
    <h2 class="font-title-lg" style="margin-bottom: 8px;">Example</h2>

    <div>
        <p style="margin-bottom: 4px;">Icon button</p>
        <button class="icon-button toggle-button" type="button" aria-label="Description of button's action"
            title="Description of button's action"><!-- target layer -->
            <div class="icon-button-container"><!-- state/container layer -->
                <span class="material-symbols-outlined" aria-hidden="true">help_outline</span>
            </div>
        </button>
    </div>
    <div>
        <p style="margin-bottom: 4px;">Outlined icon button</p>
        <button class="icon-button icon-button-outlined toggle-button" type="button"
            aria-label="Description of button's action"
            title="Description of button's action"><!-- target layer -->
            <div class="icon-button-container"><!-- state/container layer -->
                <span class="material-symbols-outlined" aria-hidden="true">help_outline</span>
            </div>
        </button>
    </div>
    <div>
        <p style="margin-bottom: 4px;">Filled icon button</p>
        <button class="icon-button icon-button-filled toggle-button" type="button"
            aria-label="Description of button's action"
            title="Description of button's action"><!-- target layer -->
            <div class="icon-button-container"><!-- state/container layer -->
                <span class="material-symbols-outlined" aria-hidden="true">help_outline</span>
            </div>
        </button>
    </div>
    <div>
        <p style="margin-bottom: 4px;">Filled tonal icon button</p>
        <button class="icon-button icon-button-filled-tonal toggle-button" type="button"
            aria-label="Description of button's action"
            title="Description of button's action"><!-- target layer -->
            <div class="icon-button-container"><!-- state/container layer -->
                <span class="material-symbols-outlined" aria-hidden="true">help_outline</span>
            </div>
        </button>
    </div>

</section>

<link rel="stylesheet" href="/assets/css/style.css">

<link rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />