/* Custom CSS for MVA Wizards (Guided Web Forms) */

/* 
	 Note: "ClfRepository\WebContent\MVACLF-2.0\css\mva-custom.css" contains CSS regarding the wizard framework.
	 TODO - Replace or relocate that logic here when making the Disability and CTS wizards generic.
*/

/* Basic Classes */
.padding-lft-0 {
	padding-left: 0;
}

/* Menu Classes */
.current.step {
    border-bottom: 5px solid #335075;
    color: #222;
    font-weight: bold;
}

.step {
    border-bottom: 2px solid lightgray;
}

.steps {
    position: relative;
}
.steps .step {
    padding: 0 0 .25em 3em;
    margin-left: 1.15em;
    border-left: .3em solid lightgray;
    border-bottom: none;
}
.steps .step .step-label {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    left: 0;
    text-align: center;
    padding-top: .25em;
    border: .3em solid lightgray;
    background: lightgray;
    border-radius: 100%;
    color: #222;
    font-weight: bold;
}
.steps .step .step-content {
    display: inline-block;
    width: 100%;
}
.steps .step.active {
    border-color: #1b6c1c;
}
.steps .step.current {
    border-color: lightgray;
}
.steps .step.active .step-label {
    border: .3em solid #1b6c1c;
    color: #ffffff;
    background: #1b6c1c;
}
.step-label-sub {
    border: .3em solid #1b6c1c;
    color: #ffffff;
    background: #1b6c1c;
}
.steps .step.current .step-label {
    background-color: #ffffff;
    border: .3em solid #1b6c1c;
}
.steps .step:last-child {
    border-color: transparent !important;
}

@media all and (max-width: 767px) {
  .text-left-sm {
      text-align: left !important;
  }
}

/* Hide link URLs in Print Preview */
@media print {
	a[href]:after {
		content: none
	}
}
