/* ### Dark theme */
body.dark {
    --primary: rgb(144 213 174);
    --surface-tint: rgb(144 213 174);
    --on-primary: rgb(0 56 34);
    --primary-container: rgb(1 82 52);
    --on-primary-container: rgb(171 242 201);
    --secondary: rgb(180 204 188);
    --on-secondary: rgb(32 53 41);
    --secondary-container: rgb(54 75 63);
    --on-secondary-container: rgb(208 232 215);
    --tertiary: rgb(164 205 221);
    --on-tertiary: rgb(5 53 66);
    --tertiary-container: rgb(35 76 89);
    --on-tertiary-container: rgb(192 233 249);
    --warning-container: rgb(71 74 1);
    --on-warning-container: rgb(229 232 145);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(15 21 17);
    --on-background: rgb(223 228 222);
    --surface: rgb(15 21 17);
    --on-surface: rgb(223 228 222);
    --surface-variant: rgb(64 73 67);
    --on-surface-variant: rgb(192 201 193);
    --outline: rgb(138 147 140);
    --outline-variant: rgb(64 73 67);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(223 228 222);
    --inverse-on-surface: rgb(44 50 46);
    --inverse-primary: rgb(37 106 74);
    --primary-fixed: rgb(171 242 201);
    --on-primary-fixed: rgb(0 33 18);
    --primary-fixed-dim: rgb(144 213 174);
    --on-primary-fixed-variant: rgb(1 82 52);
    --secondary-fixed: rgb(208 232 215);
    --on-secondary-fixed: rgb(11 31 21);
    --secondary-fixed-dim: rgb(180 204 188);
    --on-secondary-fixed-variant: rgb(54 75 63);
    --tertiary-fixed: rgb(192 233 249);
    --on-tertiary-fixed: rgb(0 31 40);
    --tertiary-fixed-dim: rgb(164 205 221);
    --on-tertiary-fixed-variant: rgb(35 76 89);
    --surface-dim: rgb(15 21 17);
    --surface-bright: rgb(53 59 54);
    --surface-container-lowest: rgb(10 15 12);
    --surface-container-low: rgb(23 29 25);
    --surface-container: rgb(27 33 29);
    --surface-container-high: rgb(38 43 39);
    --surface-container-highest: rgb(48 54 50);
    --surface-inverse: rgb(246 251 244);
    --on-surface-inverse: rgb(23 29 25);
    --primary-inverse: rgb(37 106 74);
}