<h1>Switch</h1>
<p>Switches toggle the selection of an item on&nbsp;or&nbsp;off</p>


<nav class="tabbed tabs">
  <a class="active" data-tab="overview">
    <i>info</i>
    <span>Overview</span>
  </a>
  <a data-tab="specs">
    <i>style</i>
    <span>Specs</span>
  </a>
  <a data-tab="guidelines">
    <i>design_services</i>
    <span>Guidelines</span>
  </a>
  <a data-tab="accessibility">
    <i>accessibility_new</i>
    <span>Accessibility</span>
  </a>
</nav>

<div class="page padding-top active" data-page="overview">
  <ul>
    <li>Use toggle switches when the action is binary and should be immediate, like enabling or disabling something
      instantly.</li>
    <li>Use checkboxes when the user is making a selection that doesn’t require immediate action and when clarity and
      accessibility are top priorities.</li>

  </ul>
  <h2 class="font-title">Resources</h2>
  <ul>
    <li>
      <a href="https://m3.material.io/components/switches/overview">Material Design 3 switches</a>
    </li>
    <!--
    <li>
      <a href="https://material.angular.dev/components/button/overview">Angular Material Buttons</a>
    </li>
    <li>
      <a href="https://design.canada.ca/common-design-patterns/buttons.html">GCWeb buttons</a>
    </li>
    <li>
      <a href="https://design-system.alpha.canada.ca/en/components/button/"
        >GC Design System buttons</a
      >
    </li>-->
  </ul>

  <div class="large-space"></div>
  <!---
                <div class="grid">
                    <a href="#" class="card sm12 md6 lg6 xl6">
                        <article class="round wave">
                            <div class="row">
                                <i>arrow_back</i>
                                <p class="large-text">Previous</p>
                            </div>
                            <h2 class="font-title">Tabs: Accessibility</h2>

                        </article>
                    </a>
                    <a data-ui="#components/tables" class="card sm12 md6 lg6 xl6">
                        <article class="round wave">
                            <div class="row">
                                <i>arrow_forward</i>
                                <p class="large-text">Next</p>
                            </div>
                            <h2 class="font-title">Tables: Specs</h2>

                        </article>
                    </a>
                </div>-->

  <!--

<div class="page padding-top" data-page="specs">
  <div class="space"></div>
  <table class="border no-margin">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table / Background color</td>
        <td>–</td>
        <td><code>surface</code></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page padding-top" data-page="guidelines">
  <p>Buttons guidelines/anatomy</p>
</div>

<div class="page padding-top" data-page="accessibility">
  <ul class="checklist">
    <li>button accessibility</li>
  </ul>
  <div class="space"></div>
  <h2 class="font-title">Resources</h2>
  <ul>
    <li>
      <a href="https://m3.material.io/components/buttons/accessibility"
        >Material Design 3 buttons accessibility</a
      >
    </li>
    <li>
      <a href="https://material.angular.dev/components/button/overview#accessibility"
        >Angular Material BUttons Accessiblity</a
      >
    </li>
  </ul>
</div>-->

  <p class="font-label page-footer">Date modified: 2025-11-05</p>