<ul role="menubar" aria-orientation="vertical">

  <li role="none">
    <a data-ui="client-search" class="button square round extra primary-container" >
      <i style="overflow: visible;">person_search</i>
    </a>
  </li>
  <li role="none">
    <a data-ui="home">
      <i>home</i>
      <span data-i18n="home">Home</span>
    </a>
  </li>
  <li role="none">
    <a data-ui="work-items">
      <i>assignment</i>
      <span>Work&nbsp;items</span>
    </a>
  </li>
  <li role="none">
    <a data-ui="your-work">
      <i>task</i>
      <span>Your&nbsp;work</span>
    </a>
  </li>
</ul>
<!--
<button id="theme-toggle" style="position: fixed; bottom: 2.25rem; left: 1.25rem; z-index: 100;"
  class="large transparent circle on-surface-variant border" title="Toggle theme">
  <i>dark_mode</i>
</button>-->