<nav class="left surface-container">
    <ul role="menubar" aria-orientation="vertical">
      <!--
      <li role="none">
        <button class="square round extra primary-container">
          <i>search</i>
        </button>
      </li>-->
      <li role="none">
        <a data-ui="home">
          <i>home</i>
          <span data-i18n="home">Home</span>
        </a>
      </li>
      <li role="none">
        <a data-ui="get-started">
          <i>apps</i>
          <span data-i18n="get-started">Get&nbsp;started</span>
        </a>
      </li>
      <li role="none">
        <a data-ui="foundations">
          <i>book</i>
          <span>Foundations</span>
        </a>
        <nav id="foundations-submenu" class="drawer rail-submenu hide">
          <ul role="menubar">
            <li role="none">
              <a data-ui="foundations">
                Foundations overview
              </a>
            </li>
            <li role="none">
              <a data-ui="foundations/accessibility">
                Accessibility
              </a>
            </li>
            <li role="none">
              <a data-ui="foundations/content">
                Content
              </a>
            </li>
            <li role="none">
              <a data-ui="foundations/layout">
                Layout
              </a>
            </li>
          </ul>
        </nav>
      </li>
      <li role="none">
        <a data-ui="styles">
          <i>palette</i>
          <span>Styles</span>
        </a>
        <nav id="styles-submenu" class="drawer rail-submenu hide">
          <ul role="menubar">
            <li role="none">
              <a data-ui="styles">
                Styles overview
              </a>
            </li>
            <li role="none" class="has-expansion">
              <button class="nav-button expandable" aria-expanded="false" aria-controls="colours-expansion">
                Colour
                <i class="icon">arrow_drop_down</i>
              </button>
              <ul id="colours-expansion">
                <li role="none">
                  <a data-ui="styles/colour-roles">Colour roles</a>
                </li>
                <li role="none">
                  <a data-ui="styles/colour-tokens">Colour tokens</a>
                </li>
              </ul>
            </li>
            <li role="none">
              <a data-ui="styles/elevation">
                Elevation
              </a>
            </li>
            <li role="none">
              <a data-ui="styles/federal-identity">
                Federal identity
              </a>
            </li>
            <li role="none">
              <a data-ui="styles/icons">
                Icons
              </a>
            </li>
            <li role="none">
              <a data-ui="styles/motion">
                Motion
              </a>
            </li>
            <li role="none">
              <a data-ui="styles/shape">
                Shape
              </a>
            </li>
            <li role="none">
              <a data-ui="styles/typography">
                Typography
              </a>
            </li>
          </ul>
        </nav>
      </li>
      <li role="none">
        <a data-ui="components">
          <i>add_circle</i>
          <span>Components</span>
        </a>
        <nav id="components-submenu" class="drawer rail-submenu hide">
          <ul role="menubar">
            <li role="none">
              <a data-ui="components">
                Components overview
              </a>
            </li>
            <li role="none">
              <a data-ui="components/app-bars">
                App bars
              </a>
            </li>
            <li role="none">
              <a data-ui="components/badges">
                Badges
              </a>
            </li>
            <li role="none" class="has-expansion">
              <button class="nav-button expandable" aria-expanded="false" aria-controls="buttons-expansion">
                Buttons
                <i class="icon">arrow_drop_down</i>
              </button>
              <ul id="buttons-expansion">
                <li role="none">
                  <a data-ui="components/buttons">All buttons</a>
                </li>
                <li role="none">
                  <a data-ui="components/common-buttons">Common buttons</a>
                </li>
                <li role="none">
                  <a data-ui="components/fab">FAB</a>
                </li>
                <li role="none">
                  <a data-ui="components/extended-fab">Extended FAB</a>
                </li>
                <li role="none">
                  <a data-ui="components/icon-buttons">Icon buttons</a>
                </li>
                <li role="none">
                  <a data-ui="components/segmented-buttons">Segmented buttons</a>
                </li>
              </ul>
            </li>
            <li role="none">
              <a data-ui="components/cards">
                Cards
              </a>
            </li>
            <!--
            <li role="none">
              <a data-ui="components/carousel">
                Carousel
              </a>
            </li>-->
            <li role="none">
              <a data-ui="components/checkbox">
                Checkbox
              </a>
            </li>
            <li role="none">
              <a data-ui="components/chips">
                Chips
              </a>
            </li>
            <li role="none" class="has-expansion">
              <button class="nav-button expandable" aria-expanded="false" aria-controls="date-time-pickers-expansion">

                <span class="nav-button-label">Date and time pickers</span>
                <i class="icon">arrow_drop_down</i>
              </button>
              <ul id="date-time-pickers-expansion">
                <li role="none">
                  <a data-ui="components/date-pickers">Date pickers</a>
                </li>
                <li role="none">
                  <a data-ui="components/time-pickers">Time pickers</a>
                </li>
              </ul>
            </li>
            <li role="none">
              <a data-ui="components/dialogs">
                Dialogs
              </a>
            </li>
            <li role="none">
              <a data-ui="components/dividers">
                Dividers
              </a>
            </li>
            <li role="none">
              <a data-ui="components/lists">
                Lists
              </a>
            </li>
            <li role="none">
              <a data-ui="components/menus">
                Menus
              </a>
            </li>
            <li role="none" class="has-expansion">
              <button class="nav-button expandable" aria-expanded="false" aria-controls="navigation-expansion">
                Navigation
                <i class="icon">arrow_drop_down</i>
              </button>
              <ul id="navigation-expansion">
                <li role="none">
                  <a data-ui="components/navigation-drawer">Navigation drawer</a>
                </li>
                <li role="none">
                  <a data-ui="components/navigation-rail">Navigation rail</a>
                </li>
              </ul>
            </li>
            <li role="none">
              <a data-ui="components/progress-indicators">
                Progress indicators
              </a>
            </li>
            <li role="none">
              <a data-ui="components/radio-button">
                Radio button
              </a>
            </li>
            <li role="none">
              <a data-ui="components/search">
                Search
              </a>
            </li>
            <li role="none" class="has-expansion">
              <button class="nav-button expandable" aria-expanded="false" aria-controls="sheets-expansion">
                Sheets
                <i class="icon">arrow_drop_down</i>
              </button>
              <ul id="sheets-expansion">
                <li role="none">
                  <a data-ui="components/bottom-sheets">Bottom sheets</a>
                </li>
                <li role="none">
                  <a data-ui="components/side-sheets">Side sheets</a>
                </li>
              </ul>
            </li>
            <li role="none">
              <a data-ui="components/sliders">
                Sliders
              </a>
            </li>
            <li role="none">
              <a data-ui="components/snackbar">
                Snackbar
              </a>
            </li>
            <li role="none">
              <a data-ui="components/switch">
                Switch
              </a>
            </li>
            <li role="none">
              <a data-ui="components/tabs">
                Tabs
              </a>
            </li>
            <li role="none">
              <a data-ui="components/tables">
                Tables
              </a>
            </li>
            <li role="none">
              <a data-ui="components/text-fields">
                Text fields
              </a>
            </li>
            <li role="none">
              <a data-ui="components/tooltips">
                Tooltips
              </a>
            </li>
          </ul>
        </nav>
      </li>
      <li role="none">
        <a data-ui="patterns">
          <i>pattern</i>
          <span>Patterns</span>
        </a>
      </li>
    </ul>
    <button id="theme-toggle" style="position: fixed; bottom: 2.25rem; left: 1.25rem; z-index: 100;"
      class="large transparent circle on-surface-variant border" title="Toggle theme">
      <i>dark_mode</i>
    </button>
  </nav>