<!-- COMPONENTS/TABLES -->
<div id="components/tables" class="large-padding responsive" data-submenu="components-submenu">
    <section class="limit-content-width">
        <h1 class="font-headline">
            Tables
        </h1>
        <p>Tables present information in a two-dimensional table comprised of rows and columns of cells
            containing&nbsp;data</p>

    </section>
    <div class="space"></div>
    <section class="limit-content-width">
        <div>
            <nav class="tabbed">
                <a class="tab-link active" data-tab="overview">
                    <i>info</i>
                    <span>Overview</span>
                </a>
                <a class="tab-link" data-tab="specs">
                    <i>style</i>
                    <span>Specs</span>
                </a>
                <a class="tab-link" data-tab="guidelines">
                    <i>design_services</i>
                    <span>Guidelines</span>
                </a>
                <a class="tab-link" data-tab="accessibility">
                    <i>accessibility_new</i>
                    <span>Accessibility</span>
                </a>
            </nav>
            <div class="tab-content large-padding active" id="overview">
                <h5>Overview</h5>
                <p>Tables display information in a grid-like format of rows and columns.</p>
                <p>They organize information in a way that’s easy to scan so that users can look for patterns and develop insights from&nbsp;data.</p>
                <p>Tables can contain:</p>
                <ul>
                    <li>Interactive components (such as chips, buttons, or menus)</li>
                    <li>Non-interactive elements (such as badges)</li>
                    <li>Tools to query and manipulate data</li>
                </ul>
                <div class="space"></div>
                <div class="grid">
                    <a href="#" class="card s12 m6 l6">
                        <article class="round wave">
                            <div class="row">
                                <i>arrow_back</i>
                                <p class="large-text">Previous</p>
                            </div>
                          <h2 class="font-title">Tabs: Accessibility</h2>
                          
                        </article>
                      </a>
                      <a data-ui="#components/tables" data-tab="specs" class="card s12 m6 l6">
                        <article class="round wave">
                            <div class="row">
                                <i>arrow_forward</i>
                                <p class="large-text">Next</p>
                            </div>
                          <h2 class="font-title">Tables: Specs</h2>
                          
                        </article>
                      </a>
                </div>
            </div>
            <div class="tab-content large-padding page" id="specs">
                <h5>Specs</h5>
            </div>
            <div class="tab-content large-padding page" id="guidelines">
                <h5>Guidelines</h5>
            </div>
            <div class="tab-content large-padding page" id="accessibility" >
                <h5>Accessibility</h5>
            </div>
        </div>
    </section>
</div>