body.dark {
  --primary: #90D5AE;
  --surface-tint: #90D5AE;
  --on-primary: #003822;
  --primary-container: #015234;
  --on-primary-container: #ABF2C9;
  --secondary: #B4CCBC;
  --on-secondary: #203529;
  --secondary-container: #364B3F;
  --on-secondary-container: #D0E8D7;
  --tertiary: #A4CDDD;
  --on-tertiary: #333F43;
  --tertiary-container: #234C59;
  --on-tertiary-container: #C0E9F9;
  --warning: #dbc66f;
  --on-warning: #393000;
  --warning-container: #534600;
  --on-warning-container: #f8e287;
  --error: #FFB4AB;
  --on-error: #690005;
  --error-container: #93000A;
  --on-error-container: #FFDAD6;
  --background: #0F1511;
  --on-background: #DFE4DE;
  --surface: #0F1511;
  --on-surface: #DFE4DE;
  --surface-variant: #404943;
  --on-surface-variant: #C0C9C1;
  --outline: #8A938C;
  --outline-variant: #404943;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #DFE4DE;
  --inverse-on-surface: #2C322E;
  --inverse-primary: #256A4A;
  --primary-fixed: #ABF2C9;
  --on-primary-fixed: #002112;
  --primary-fixed-dim: #90D5AE;
  --on-primary-fixed-variant: #015234;
  --secondary-fixed: #D0E8D7;
  --on-secondary-fixed: #0B1F15;
  --secondary-fixed-dim: #B4CCBC;
  --on-secondary-fixed-variant: #364B3F;
  --tertiary-fixed: #C0E9F9;
  --on-tertiary-fixed: #001F28;
  --tertiary-fixed-dim: #A4CDDD;
  --on-tertiary-fixed-variant: #234C59;
  --surface-dim: #0F1511;
  --surface-bright: #353B36;
  --surface-container-lowest: #0A0F0C;
  --surface-container-low: #171D19;
  --surface-container: #1B211D;
  --surface-container-high: #262B27;
  --surface-container-highest: #303632;
  --surface-inverse: #F6FBF4;
  --on-surface-inverse: #171D19;
  --primary-inverse: #256A4A;
}