/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*/
@font-face {
    font-family: "Material Symbols Outlined";
    src: url('../../fonts/material-symbols/material-symbols-outlined.woff2');
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono';
    src: url('../../fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: url('../../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    src: url('../../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Lato;
    src: url('../../fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url('../../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}