<section class="content-container cards-container d-flex"
    style="padding-top: 0px; flex-direction: row; justify-content: start;">

    <a href="#" class="card" style="margin-right: var(--md-sys-space-margin);">
        <div>
            <section>
                <!--
										<div class="hero-gradient">
											<div id="typography" class="display-heading design-system-hero">
											</div>
										</div>-->
            </section>
            <div class="card-text">
                <h3 class="font-title-lg card-title">Card title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod in reiciendis accusamus deserunt velit non quae nobis ipsam&nbsp;distinction.</p>
                <p>2024-06-14</p>
            </div>
        </div>
    </a>

</section>
<link rel="stylesheet" href="/components/cards.css">