/*
# Tokens
    ## Colours 
    ## Elevation
    ## Icons
    ## Layout
    ## Motion
    ## Spacing 
    ## Shapes
    ## Typography
*/

/* # Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* # Tokens */

/* ## Colours */
/* ### Light theme (default) */
:root {
    --md-sys-color-primary: rgb(37 106 74);
    --md-sys-color-surface-tint: rgb(37 106 74);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(171 242 201);
    --md-sys-color-on-primary-container: rgb(0 33 18);
    --md-sys-color-secondary: rgb(78 99 86);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(208 232 215);
    --md-sys-color-on-secondary-container: rgb(11 31 21);
    --md-sys-color-tertiary: rgb(60 100 114);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(192 233 249);
    --md-sys-color-on-tertiary-container: rgb(0 31 40);
    --md-sys-color-warning-container: rgb(229 232 145);
    --md-sys-color-on-warning-container: rgb(28 29 0);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(246 251 244);
    --md-sys-color-on-background: rgb(23 29 25);
    --md-sys-color-surface: rgb(246 251 244);
    --md-sys-color-on-surface: rgb(23 29 25);
    --md-sys-color-surface-variant: rgb(220 229 220);
    --md-sys-color-on-surface-variant: rgb(64 73 67);
    --md-sys-color-outline: rgb(112 121 114);
    --md-sys-color-outline-variant: rgb(192 201 193);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 50 46);
    --md-sys-color-inverse-on-surface: rgb(237 242 236);
    --md-sys-color-inverse-primary: rgb(144 213 174);
    --md-sys-color-primary-fixed: rgb(171 242 201);
    --md-sys-color-on-primary-fixed: rgb(0 33 18);
    --md-sys-color-primary-fixed-dim: rgb(144 213 174);
    --md-sys-color-on-primary-fixed-variant: rgb(1 82 52);
    --md-sys-color-secondary-fixed: rgb(208 232 215);
    --md-sys-color-on-secondary-fixed: rgb(11 31 21);
    --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
    --md-sys-color-on-secondary-fixed-variant: rgb(54 75 63);
    --md-sys-color-tertiary-fixed: rgb(192 233 249);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 40);
    --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
    --md-sys-color-on-tertiary-fixed-variant: rgb(35 76 89);
    --md-sys-color-surface-dim: rgb(214 219 213);
    --md-sys-color-surface-bright: rgb(246 251 244);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(240 245 238);
    --md-sys-color-surface-container: rgb(234 239 233);
    --md-sys-color-surface-container-high: rgb(228 234 227);
    --md-sys-color-surface-container-highest: rgb(223 228 222);
    --md-sys-color-surface-inverse: rgb(15 21 17);
    --md-sys-color-on-surface-inverse: rgb(223 228 222);
    --md-sys-color-primary-inverse: rgb(144 213 174);

}

/* ### Dark theme */
body.dark {
    --md-sys-color-primary: rgb(144 213 174);
    --md-sys-color-surface-tint: rgb(144 213 174);
    --md-sys-color-on-primary: rgb(0 56 34);
    --md-sys-color-primary-container: rgb(1 82 52);
    --md-sys-color-on-primary-container: rgb(171 242 201);
    --md-sys-color-secondary: rgb(180 204 188);
    --md-sys-color-on-secondary: rgb(32 53 41);
    --md-sys-color-secondary-container: rgb(54 75 63);
    --md-sys-color-on-secondary-container: rgb(208 232 215);
    --md-sys-color-tertiary: rgb(164 205 221);
    --md-sys-color-on-tertiary: rgb(5 53 66);
    --md-sys-color-tertiary-container: rgb(35 76 89);
    --md-sys-color-on-tertiary-container: rgb(192 233 249);
    --md-sys-color-warning-container: rgb(71 74 1);
    --md-sys-color-on-warning-container: rgb(229 232 145);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(15 21 17);
    --md-sys-color-on-background: rgb(223 228 222);
    --md-sys-color-surface: rgb(15 21 17);
    --md-sys-color-on-surface: rgb(223 228 222);
    --md-sys-color-surface-variant: rgb(64 73 67);
    --md-sys-color-on-surface-variant: rgb(192 201 193);
    --md-sys-color-outline: rgb(138 147 140);
    --md-sys-color-outline-variant: rgb(64 73 67);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(223 228 222);
    --md-sys-color-inverse-on-surface: rgb(44 50 46);
    --md-sys-color-inverse-primary: rgb(37 106 74);
    --md-sys-color-primary-fixed: rgb(171 242 201);
    --md-sys-color-on-primary-fixed: rgb(0 33 18);
    --md-sys-color-primary-fixed-dim: rgb(144 213 174);
    --md-sys-color-on-primary-fixed-variant: rgb(1 82 52);
    --md-sys-color-secondary-fixed: rgb(208 232 215);
    --md-sys-color-on-secondary-fixed: rgb(11 31 21);
    --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
    --md-sys-color-on-secondary-fixed-variant: rgb(54 75 63);
    --md-sys-color-tertiary-fixed: rgb(192 233 249);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 40);
    --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
    --md-sys-color-on-tertiary-fixed-variant: rgb(35 76 89);
    --md-sys-color-surface-dim: rgb(15 21 17);
    --md-sys-color-surface-bright: rgb(53 59 54);
    --md-sys-color-surface-container-lowest: rgb(10 15 12);
    --md-sys-color-surface-container-low: rgb(23 29 25);
    --md-sys-color-surface-container: rgb(27 33 29);
    --md-sys-color-surface-container-high: rgb(38 43 39);
    --md-sys-color-surface-container-highest: rgb(48 54 50);
    --md-sys-color-surface-inverse: rgb(246 251 244);
    --md-sys-color-on-surface-inverse: rgb(23 29 25);
    --md-sys-color-primary-inverse: rgb(37 106 74);

}

/* ## Elevation (box shadow) */
/* ### Light theme Elevation  */
:root {
    /* Define your shadow color as a valid RGB string */
    --md-sys-color-shadow: 0, 0, 0;
    /* Assuming black shadow */

    --md-sys-elevation-5:
        rgba(var(--md-sys-color-shadow), 0.2) 0px 7px 8px -4px,
        rgba(var(--md-sys-color-shadow), 0.14) 0px 12px 17px 2px,
        rgba(var(--md-sys-color-shadow), 0.12) 0px 5px 22px 4px;

    --md-sys-elevation-4:
        rgba(var(--md-sys-color-shadow), 0.2) 0px 5px 5px -3px,
        rgba(var(--md-sys-color-shadow), 0.14) 0px 8px 10px 1px,
        rgba(var(--md-sys-color-shadow), 0.12) 0px 3px 14px 2px;

    --md-sys-elevation-3:
        rgba(var(--md-sys-color-shadow), 0.2) 0px 3px 5px -1px,
        rgba(var(--md-sys-color-shadow), 0.14) 0px 6px 10px 0px,
        rgba(var(--md-sys-color-shadow), 0.12) 0px 1px 18px 0px;

    --md-sys-elevation-2:
        rgba(var(--md-sys-color-shadow), 0.2) 0px 3px 3px -2px,
        rgba(var(--md-sys-color-shadow), 0.14) 0px 3px 4px 0px,
        rgba(var(--md-sys-color-shadow), 0.12) 0px 1px 8px 0px;

    --md-sys-elevation-2-right:
        rgba(var(--md-sys-color-shadow), 0.12) 3px 8px 3px 0px;
    /* Right and bottom shadow */

    --md-sys-elevation-1:
        rgba(var(--md-sys-color-shadow), 0.2) 0px 2px 1px -1px,
        rgba(var(--md-sys-color-shadow), 0.14) 0px 1px 1px 0px,
        rgba(var(--md-sys-color-shadow), 0.12) 0px 1px 3px 0px;

    --md-sys-elevation-level0: none;
}

/* ## Icons */
:root {
    --icon-font-family: 'Material Symbols Outlined';
    --icon-home: "\e88a";
    --icon-search: "\e8b6";
    --icon-menu: "\e5d2";
    --icon-close: "\e5cd";
    --icon-favorite: "\e87d";
}

/* ## Layout */
:root {
    --header-height: 64px;
    --footer-height: 108px;
    --navigation-drawer-width: 240px;
    --global-banner-height: 0px; /* Default height when banner is hidden */
}

body.banner-visible {
    --global-banner-height: 80px; /* Height when banner is visible */
}


/* ## Motion */
:root {
    --md-sys-duration-short-1: 50ms;
    --md-sys-duration-short-2: 100ms;
    --md-sys-duration-short-3: 150ms;
    --md-sys-duration-short-4: 200ms;
}

body.reduced-motion {
    /* ### No motion */
    --md-sys-duration-short-1: 0ms;
    --md-sys-duration-short-2: 0ms;
    --md-sys-duration-short-3: 0ms;
    --md-sys-duration-short-4: 0ms;
}

/* ## Shapes */
:root {
    --md-sys-shape-corner-none: 0px;
    --md-sys-shape-corner-xs: 4px;
    --md-sys-shape-corner-xs-top: 4px 4px 0 0;
    --md-sys-shape-corner-sm: 8px;
    --md-sys-shape-corner-md: 12px;
    --md-sys-shape-corner-lg: 16px;
    --md-sys-shape-corner-lg-start: 16px 0 0 16px;
    --md-sys-shape-corner-lg-end: 0px 16px 16px 0;
    --md-sys-shape-corner-lg-top: 16px 16px 0 0;
    --md-sys-shape-corner-xl: 24px;
    --md-sys-shape-corner-xxl: 36px;
    --md-sys-shape-corner-full: 100%;
}

/* ## Typography */

:root {

    /* ### Fonts */
    --md-sys-display-font-family: "Lato", sans-serif;
    --md-sys-body-font-family: "Noto Sans", sans-serif;
    --md-sys-mono-font-family: "Noto Sans Mono", sans-serif;

    /* ### Headline */

    /* #### Headline - Large */
    --md-sys-font-headline-lg-font-family: var(--md-sys-display-font-family);
    --md-sys-font-headline-lg-font-size: 32px;
    --md-sys-font-headline-lg-line-height: 40px;
    --md-sys-font-headline-lg-font-weight: 700;
    --md-sys-font-headline-lg-letter-spacing: 0;

    /* #### Headline - Medium */
    --md-sys-font-headline-md-font-family: var(--md-sys-display-font-family);
    --md-sys-font-headline-md-font-size: 28px;
    --md-sys-font-headline-md-line-height: 36px;
    --md-sys-font-headline-md-font-weight: 700;
    --md-sys-font-headline-md-letter-spacing: 0;

    /* #### Headline - Small */
    --md-sys-font-headline-sm-font-family: var(--md-sys-display-font-family);
    --md-sys-font-headline-sm-font-size: 24px;
    --md-sys-font-headline-sm-line-height: 32px;
    --md-sys-font-headline-sm-font-weight: 700;
    --md-sys-font-headline-sm-letter-spacing: 0;

    /* ### Title */

    /* #### Title - Large */
    --md-sys-font-title-lg-font-family: var(--md-sys-body-font-family);
    --md-sys-font-title-lg-font-size: 22px;
    --md-sys-font-title-lg-line-height: 28px;
    --md-sys-font-title-lg-font-weight: 400;
    --md-sys-font-title-lg-letter-spacing: 0;

    /* #### Title - Medium */
    --md-sys-font-title-md-font-family: var(--md-sys-body-font-family);
    --md-sys-font-title-md-font-size: 16px;
    --md-sys-font-title-md-line-height: 24px;
    --md-sys-font-title-md-font-weight: 400;
    --md-sys-font-title-md-letter-spacing: 0.15px;

    /* #### Title - Small */
    --md-sys-font-title-sm-font-family: var(--md-sys-body-font-family);
    --md-sys-font-title-sm-font-size: 14px;
    --md-sys-font-title-sm-line-height: 20px;
    --md-sys-font-title-sm-font-weight: 400;
    --md-sys-font-title-sm-letter-spacing: 0.1px;

    /* ### Label */

    /* #### Label - Large */
    --md-sys-font-label-lg-font-family: var(--md-sys-body-font-family);
    --md-sys-font-label-lg-font-size: 14px;
    --md-sys-font-label-lg-line-height: 20px;
    --md-sys-font-label-lg-font-weight: 400;
    --md-sys-font-label-lg-letter-spacing: 0.1px;

    /* #### Label - Medium */
    --md-sys-font-label-md-font-family: var(--md-sys-body-font-family);
    --md-sys-font-label-md-font-size: 12px;
    --md-sys-font-label-md-line-height: 16px;
    --md-sys-font-label-md-font-weight: 400;
    --md-sys-font-label-md-letter-spacing: 0.5px;

    /* #### Label - Small */
    --md-sys-font-label-sm-font-family: var(--md-sys-body-font-family);
    --md-sys-font-label-sm-font-size: 11px;
    --md-sys-font-label-sm-line-height: 16px;
    --md-sys-font-label-sm-font-weight: 400;
    --md-sys-font-label-sm-letter-spacing: 0.5px;

    /* ### Body */

    /* #### Body - Large */
    --md-sys-font-body-lg-font-family: var(--md-sys-body-font-family);
    --md-sys-font-body-lg-font-size: 16px;
    --md-sys-font-body-lg-line-height: 24px;
    --md-sys-font-body-lg-font-weight: 400;
    --md-sys-font-body-lg-letter-spacing: 0px;

    /* #### Body - Medium */
    --md-sys-font-body-md-font-family: var(--md-sys-body-font-family);
    --md-sys-font-body-md-font-size: 14px;
    --md-sys-font-body-md-line-height: 20px;
    --md-sys-font-body-md-font-weight: 400;
    --md-sys-font-body-md-letter-spacing: 0.25px;

    /* #### Body - Small */
    --md-sys-font-body-sm-font-family: var(--md-sys-body-font-family);
    --md-sys-font-body-sm-font-size: 12px;
    --md-sys-font-body-sm-line-height: 16px;
    --md-sys-font-body-sm-font-weight: 400;
    --md-sys-font-body-sm-letter-spacing: 0.4px;


    /* Extended type scaling */

    /* ## Hero */

    /* #### Hero - Large */
    --md-sys-font-hero-lg-font-family: var(--md-sys-display-font-family);
    --md-sys-font-hero-lg-font-size: 86px;
    --md-sys-font-hero-lg-line-height: 1;
    --md-sys-font-hero-lg-font-weight: 700;
    --md-sys-font-hero-lg-letter-spacing: -0.25px;

    /* #### Hero - Medium */
    --md-sys-font-hero-md-font-family: var(--md-sys-display-font-family);
    --md-sys-font-hero-md-font-size: 73px;
    --md-sys-font-hero-md-line-height: 1;
    --md-sys-font-hero-md-font-weight: 700;
    --md-sys-font-hero-md-letter-spacing: -0.25px;

    /* ### Display */

    /* #### Display - Large */
    --md-sys-font-display-lg-font-family: var(--md-sys-display-font-family);
    --md-sys-font-display-lg-font-size: 57px;
    --md-sys-font-display-lg-line-height: 64px;
    --md-sys-font-display-lg-font-weight: 700;
    --md-sys-font-display-lg-letter-spacing: -0.25px;

    /* #### Display - Medium */
    --md-sys-font-display-md-font-family: var(--md-sys-display-font-family);
    --md-sys-font-display-md-font-size: 45px;
    --md-sys-font-display-md-line-height: 52px;
    --md-sys-font-display-md-font-weight: 700;
    --md-sys-font-display-md-letter-spacing: 0;

    /* #### Display - Small */
    --md-sys-font-display-sm-font-family: var(--md-sys-display-font-family);
    --md-sys-font-display-sm-font-size: 36px;
    --md-sys-font-display-sm-line-height: 44px;
    --md-sys-font-display-sm-font-weight: 400;
    --md-sys-font-display-sm-letter-spacing: 0;
}


/* ## Spacing */
:root {
    /* ### Space ( Default: density 0) */
    --md-sys-space-default: 16px;
    --md-sys-space-xs: 4px;
    --md-sys-space-sm: 8px;
    --md-sys-space-md: 16px;
    --md-sys-space-lg: 32px;
    --md-sys-space-xl: 64px;

    --md-sys-space-margin: 24px;

    /* ### Fixed spacing ## */
    --md-sys-space-default-fixed: 16px;
    --md-sys-space-xs-fixed: 4px;
    --md-sys-space-sm-fixed: 8px;
    --md-sys-space-md-fixed: 16px;
    --md-sys-space-lg-fixed: 32px;
    --md-sys-space-xl-fixed: 64px;

    /* ### Stack */
    --md-sys-space-stack-default: 0 0 16px 0;
    --md-sys-space-stack-xs: 0 0 4px 0;
    --md-sys-space-stack-sm: 0 0 8px 0;
    --md-sys-space-stack-md: 0 0 16px 0;
    --md-sys-space-stack-lg: 0 0 32px 0;
    --md-sys-space-stack-xl: 0 0 64px 0;

    /* ### Inset */
    --md-sys-space-inset-default: 16px;
    --md-sys-space-inset-xs: 4px 4px 4px 4px;
    --md-sys-space-inset-sm: 8px 8px 8px 8px;
    --md-sys-space-inset-md: 16px 16px 16px 16px;
    --md-sys-space-inset-lg: 32px 32px 32px 32px;
    --md-sys-space-inset-xl: 64px 64px 64px 64px;

}

body.denser {
    /* ### Spacing ( Denser: density -1) */
    --space-default: 12px;
    --space-xs: 4px;
    --space-sm: 4px;
    --space-md: 12px;
    --space-lg: 28px;
    --space-xl: 60px;
    /* Line-heights also could be reduced and inset / stack spacing */
}

body.densest {
    /* ### Spacing ( Denser: density -2) */
    --space-default: 8px;
    --space-xs: 4px;
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 24px;
    --space-xl: 56px;
    /* Line-heights also could be reduced and inset / stack spacing */
}