/***** **** *** ** * | Partial CDTS style sheet (2017-08-29) | * ** *** **** *****/
/*All views*/
.app-name {
	font-weight: bold;
	line-height: 1.1;
}
/*All screen views*/
@media screen {

   /*App bar*/
	.app-bar {
		background: #38414d;
		margin-top: 5px;
   }
   /*App bar - app name link*/
	.app-name, .app-name:visited {
		display: inline-block;
		text-decoration: none;
   }
	.app-name, .app-name:visited, .app-name:focus, .app-name:hover {
		color: #FFF;
   }
	.app-name:active, .app-name:focus, .app-name:hover {
		text-decoration: underline;
   }
   /*App bar - app name link*/
	.app-name {
		font-size: 28px;
		margin-bottom: 6px;
		margin-top: 8px;
		padding: 5px;
   }
}
/*Extra-small view and under (screen only)*/
@media screen and (max-width: 767px) {
   /*App bar - app name link */
	.app-name {
		font-size: 18px;
		margin-top: 10px;
   }
}

/*Print view*/
@media print {
   /*App bar - app name link*/
	.app-name {
		font-size: 34px;
   }
}