<ul role="menubar" aria-orientation="vertical">
  <li>
    <a data-ui="search" class="button square round extra primary-container">
      <i>search</i>
    </a>
  </li>
  <li role="none">
    <a data-ui="home">
      <i>home</i>
      <span data-i18n="nav.home">Home</span>
    </a>
  </li>
  <li role="none">
    <a data-ui="get-started">
      <i>apps</i>
      <span data-i18n="nav.get-started">Get started</span>
    </a>
  </li>
  <li role="none">
    <a data-ui="foundations">
      <i>book</i>
      <span>Foundations</span>
    </a>
    <nav id="foundations-submenu" class="drawer rail-submenu hidden">
      <ul role="menubar">
        <li role="none">
          <a data-ui="foundations">Foundations overview</a>
        </li>
      </ul>
    </nav>
  </li>
  <li role="none">
    <a data-ui="styles">
      <i>palette</i>
      <span>Styles</span>
    </a>
    <nav id="styles-submenu" class="drawer rail-submenu hidden">
      <ul role="menubar">
        <li role="none">
          <a data-ui="styles">Styles overview</a>
        </li>
      </ul>
    </nav>
  </li>
  <li role="none">
    <a data-ui="components">
      <i>add_circle</i>
      <span>Components</span>
    </a>
    <nav id="components-submenu" class="drawer rail-submenu hidden">
      <ul role="menubar">
        <li role="none">
          <a data-ui="components">Components overview</a>
        </li>
        <li>
          <a data-ui="components/buttons">Buttons</a>
        </li>
        <li>
          <a data-ui="components/tables">Tables</a>
        </li>
      </ul>
    </nav>
  </li>
  <li role="none">
    <a data-ui="patterns">
      <i>pattern</i>
      <span>Patterns</span>
    </a>
    <nav id="patterns-submenu" class="drawer rail-submenu hidden">
      <ul role="menubar">
        <li role="none">
          <a data-ui="patterns">Patterns overview</a>
        </li>
      </ul>
    </nav>
  </li>
</ul>
