
/* gcWeb style overrides */

/* missing from gcWeb */
.cnt-wdth-lmtd p.lead {max-width:50ch}

/* color overrides */

:root {
	--main: #17875a;
	--main-shade-1: #105e3e;
	--main-shade-2: #06281b;
	--main-tint-1: #52A387;

	--gunmetal: #2e2e40;
	--gunmetal-shade-1: #242433;
	--gunmetal-tint-1: #404050	;
	--gunmetal-tint-2: #525260;

	--azureishwhite: #d5e2e9;
	--azureishwhite-shade-1: #C5CED2;
	--azureishwhite-shade-2: #B4B9BB;

	--offwhite: #f4f7f9;

	--white: #fff; 
}

 a, .btn-link { 
	color:  #525260;
	color: var(--gunmetal-tint-2);
}



 .alert-danger, .alert-info, .alert-success, .alert-warning, .label-danger, .label-danger[href]:active, .label-danger[href]:focus, .label-danger[href]:hover, .label-default, .label-default[href]:active, .label-default[href]:focus, .label-default[href]:hover, .label-info, .label-info[href]:active, .label-info[href]:focus, .label-info[href]:hover, .label-primary, .label-primary[href]:active, .label-primary[href]:focus, .label-primary[href]:hover, .label-success, .label-success[href]:active, .label-success[href]:focus, .label-success[href]:hover, .label-warning, .label-warning[href]:active, .label-warning[href]:focus, .label-warning[href]:hover {
    color: var(--gunmetal);
	color: #2e2e40;
}



	/* gc-menu c overrides */


	/*
 * Site menu
 */
/*
 * Special style for the home page - GCWeb v5 (gcweb-menu)
 */
 
 .home .gcweb-menu {
	/*color: #284162;*/
	color:  #525260; /*gunmetal-tint-2 */
	color: var(--gunmetal-tint-2); 
}
	.home .gcweb-menu button[aria-haspopup=true] {
		/*color: #284162;*/
		color:  #525260; /*gunmetal-tint-2 */
		color: var(--gunmetal-tint-2);  }

		.home .gcweb-menu button[aria-haspopup=true]:hover {
			/*background-color: #444;*/
			background-color: #2e2e40;  /*gunmetal */
			background-color: var(--gunmetal);
			color: #f4f7f9;
			color: var(--offwhite);
		
		}
		
		.home .gcweb-menu button[aria-haspopup=true]:hover, .gcweb-menu button[aria-haspopup=true][aria-expanded=true] {
			background-color: #2e2e40;  /*gunmetal */
			background-color: var(--gunmetal);
			color: #f4f7f9;
			color: var(--offwhite);
		}

		/*
 * ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 *
 * GCWeb v5 (gcweb-menu)
 *
 */

		#wb-bnr + .gcweb-menu {
			/*
			 * Level 0 - button menu
			*/
			border-top:  #525260; /*gunmetal-tint-2 */
			border-top: var(--gunmetal-tint-2); 
		}

		
	.gcweb-menu button[aria-haspopup=true] {
		background-color: #26374a;
		border: 1px solid #26374a;
		color: #fff; }

	.gcweb-menu button[aria-haspopup=true]:hover,
	.gcweb-menu button[aria-haspopup=true][aria-expanded=true] {

		background-color: #2e2e40;  /*gunmetal */
		background-color: var(--gunmetal);

		border-color: #2e2e40;  /*gunmetal */
		border-color: var(--gunmetal);

		color: #f4f7f9;
		color: var(--offwhite);
	}

		
	.gcweb-menu button[aria-haspopup=true]:focus {
		background-color: #f4f7f9;
		background-color: var(--offwhite);

		border: 1px dotted #404050; /*gunmetal tint 1*/
		border: var(--gunmetal-tint-1);

		color: #2e2e40; /*gunmetal */
		color: var(--gunmetal-shade-1);

	}

	.gcweb-menu [role=menu] {

		background-color: #2e2e40;  /*gunmetal */
		background-color: var(--gunmetal);

		color: #f4f7f9;
		color: var(--offwhite);
	 }

	.gcweb-menu [role=menu] > li {
		border-left: #2e2e40 solid 1px;
		border-left: var(--gunmetal) solid 1px; 
	}

	.gcweb-menu [role=menu] > li:first-child {
		border-top: #2e2e40 solid 1px;
		border-top: var(--gunmetal) solid 1px; 
	}

	.gcweb-menu [role=menu] > li:last-child {
		border-bottom: #2e2e40 solid 1px;
		border-bottom: var(--gunmetal) solid 1px; 
	}

	.gcweb-menu [role=menuitem],
	.gcweb-menu [role=menuitem]:visited {

		border-bottom: 1px solid #404050;  /*fallback gunmetal tint 1*/
		border-bottom: 1px solid var(--gunmetal-tint-1);
 }

 .gcweb-menu [role=menuitem]:hover,
 .gcweb-menu [role=menuitem][aria-expanded=true] + [role=menu] [role=menuitem]:focus,
 .gcweb-menu [role=menuitem][aria-expanded=true] {


	 color: #2e2e40;  /*gunmetal */
	 color: var(--gunmetal);

	 background-color: #fff;
	 background-color: var(--white);
	
	}

	.gcweb-menu [role=menu] [role=menu] {
		background-color: #fff;
		background-color: var(--white);

		border-top: #d5e2e9 solid 1px;
		border-top: var(--azureishwhite) solid 1px;
	   
	    color: #2e2e40;  /*gunmetal */
	 	color: var(--gunmetal);
	
	}

	.gcweb-menu [role=menu] [role=menu] [role=menuitem] {
		color: #2e2e40;  /*gunmetal */
		color: var(--gunmetal);
	 }

	
	@media screen and (min-width: 992px) {
		.gcweb-menu [role=menu] [role=menu] [role=menuitem][aria-haspopup=true], 
		.gcweb-menu [role=menu] [role=menu] [role=menuitem][aria-haspopup=true]:hover {
			color: #2e2e40;  /*gunmetal */
			color: var(--gunmetal);
		}
	}

		
	.gcweb-menu [role=menu] [role=menu] li [role=menuitem] {
		 
		color:  #525260;
		color: var(--gunmetal-tint-2);
	}
	.gcweb-menu [role=menu] [role=menu] li [role=menuitem]:hover {
		color: #242433; 

		color: var(--gunmetal-shade-1);
	
	}




 /*
 * ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 *
 *	button style overrides
 *
 */	

		

	/* button classes */

	body .btn-default {

		color: #2e2e40;  /*fallback gunmetal */
		color: var(--gunmetal);

		border-color: #C5CED2;  /*fallback azureishwhite-shade-1*/
		border-color: var(--azureishwhite-shade-1);

		background-color: #d5e2e9; /*fallback azureishwhite*/
		background-color: var(--azureishwhite);

		text-shadow: 1px 1px #C5CED2; /*fallback azureishwhite-shade-1 */
		text-shadow: 1px 1px var(--azureishwhite-shade-1);
	
		}

		.btn-default:visited, .btn-link:visited {
			color: #2e2e40;  /*fallback gunmetal */
			color: var(--gunmetal-tint-1);
		}

		.btn-default:hover, .btn-default:focus, .btn-default.focus {
			background-color: #C5CED2; 
			background-color: var(--azureishwhite-shade-1); /*fallback offwhite */

			color: #242433; /*fallback gunmetal-shadel-1*/;
			color: var(--gunmetal-shade-1); /*fgunmetal-shade-1*/;
			
			border-color: #B4B9BB;  /*fallback azureishwhite-shade-1*/
			border-color: var(--azureishwhite-shade-2);
		}

		.btn-default:active, .btn-default.active,
		.open > .btn-default.dropdown-toggle {

			background-color: #C5CED2; 
			background-color: var(--offwhite); /*fallback offwhite */

			color: #242433; /*fallback gunmetal-tint-2-1*/;
			color: var(--gunmetal-tint-1); /*fgunmetal-tint-2*/;
			
			border-color: #B4B9BB;  /*fallback azureishwhite-shade-1*/
			border-color: var(--azureishwhite-shade-1);
		}

		.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
		.open > .btn-default.dropdown-toggle:hover,
		.open > .btn-default.dropdown-toggle:focus,
		.open > .btn-default.dropdown-toggle.focus {
			background-color: #C5CED2; 
			background-color: var(--azureishwhite-shade-2); /*fallback offwhite */

			color: #242433; /*fallback gunmetal-tint-2-1*/;
			color: var(--gunmetal-tint-1); /*fgunmetal-tint-2*/;
			
			border-color: #B4B9BB;  /*fallback azureishwhite-shade-1*/
			border-color: var(--azureishwhite-shade-2);
		}

		.btn-default.disabled:hover, .btn-default.disabled:focus, 
		.btn-default.disabled.focus, .btn-default[disabled]:hover, 
		.btn-default[disabled]:focus, .btn-default[disabled].focus,
	fieldset[disabled] .btn-default:hover,
	fieldset[disabled] .btn-default:focus,
	fieldset[disabled] .btn-default.focus { 
		color: #2e2e40;  /*fallback gunmetal */
		color: var(--gunmetal-tint-1);

		border-color: #C5CED2;  /*fallback azureishwhite-shade-1*/
		border-color: var(--azureishwhite);

		background-color: #d5e2e9; /*fallback azureishwhite*/
		background-color: var(--azureishwhite);

		text-shadow: 1px 1px #C5CED2; /*fallback azureishwhite-shade-1 */
		text-shadow: 1px 1px var(--azureishwhite-shade-1);
	}



	body .btn-primary {

		color: #f4f7f9; 
		color: var(--offwhite); /*fallback offwhite */

		background-color: #2e2e40; /*fallback main*/
		background-color: var(--gunmetal);

		border-color: #525260; /*fallback main-shade-1*/
		border-color: var(--gunmetal-tint-1);

		text-shadow: 1px 2px #525260; /*fallback gunmetal*/
		text-shadow: 1px 2px var(--gunmetal-tint-1);
	
		}

		.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
			color: #f4f7f9; 
			color: var(--offwhite); /*fallback offwhite */

			background-color: #525260;; /*fallback main-shade-1*/;
			background-color: var(--gunmetal-tint-2); /*fallback main-shade-1*/;
			
			border-color: #575766; /*fallback main-shade-1*/;
			border-color: var(--gunmetal-tint-1); /*fallback main-shade-1*/;
		}

		.btn-primary:active, .btn-primary.active,
		.open > .btn-primary.dropdown-toggle {
			color: #f4f7f9; 
			color: var(--offwhite); /*fallback offwhite */

			background-color: #242433; /*fallback main-shade-1*/;
			background-color: var(--gunmetal-shade-1); /*fallback main-shade-1*/;
			
			border-color: #2e2e40; /*fallback main-shade-1*/;
			border-color: var(--gunmetal); /*fallback main-shade-1*/;
		}

		.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
		.open > .btn-primary.dropdown-toggle:hover,
		.open > .btn-primary.dropdown-toggle:focus,
		.open > .btn-primary.dropdown-toggle.focus {
			color: #f4f7f9; 
			color: var(--offwhite); /*fallback offwhite */

			background-color: #242433; /*fallback main-shade-1*/;
			background-color: var(--gunmetal-shade-1); /*fallback main-shade-1*/;
			
			border-color: #2e2e40; /*fallback main-shade-1*/;
			border-color: var(--gunmetal); /*fallback main-shade-1*/;
		}

		.btn-primary.disabled:hover, .btn-primary.disabled:focus, 
		.btn-primary.disabled.focus, .btn-primary[disabled]:hover, 
		.btn-primary[disabled]:focus, .btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary:hover,
	fieldset[disabled] .btn-primary:focus,
	fieldset[disabled] .btn-primary.focus {
		color: #f4f7f9; 
		color: var(--offwhite); /*fallback offwhite */

		background-color: #525260;; /*fallback main-shade-1*/;
			background-color: var(--gunmetal-tint-2); /*fallback main-shade-1*/;
			
		border-color: #242433; /*fallback main-shade-1*/;
		border-color: var(--gunmetal); /*fallback main-shade-1*/;

	}
	


	.btn-call-to-action,
	.btn-call-to-action:focus:hover, .btn-call-to-action.focus:hover,
	.btn-success,
	.btn-success:focus:hover, .btn-success.focus:hover {
		color: #f4f7f9; 
		color: var(--offwhite); /*fallback offwhite */

		background-color: #17875a; /*fallback main*/
		background-color: var(--main);

		border-color: #105e3e; /*fallback main-shade-1*/
		border-color: var(--main-shade-1);

		text-shadow: 1px 2px #2e2e40; /*fallback gunmetal*/
		text-shadow: 1px 2px var(--gunmetal); /*black*/
	}

	.btn-call-to-action:hover, .btn-call-to-action:focus, .btn-call-to-action.focus,
	.btn-success:hover, .btn-success:focus, .btn-success.focus {
		color: #fff; /*fallback white */
		color: var(--white); 

		background-color:  #105e3e; /*fallback main-shade-1*/
		background-color: var(--main-shade-1);
		 
		border-color: #06281b; /*fallback main-shade-2*/
		border-color: var(--main-shade-2);
	}

	.btn-call-to-action:active, .btn-call-to-action.active,
	.open > .btn-call-to-action.dropdown-toggle,
	.btn-success:active, .btn-success.active,
	.open > .btn-success.dropdown-toggle {
		color: #f4f7f9; /*fallback offwhite */
		color: var(--offwhite); 

		background-color: #06281b; /*fallback main-shade-2*/
		background-color: var(--main-shade-2);

		border-color: #2e2e40; /*fallback gunmetal*/
		border-color: var(--gunmetal);
	}

	.btn-call-to-action:active:hover, .btn-call-to-action:active:focus, .btn-call-to-action:active.focus, .btn-call-to-action.active:hover, .btn-call-to-action.active:focus, .btn-call-to-action.active.focus,
		.open > .btn-call-to-action.dropdown-toggle:hover,
		.open > .btn-call-to-action.dropdown-toggle:focus,
		.open > .btn-call-to-action.dropdown-toggle.focus,
		.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
		.open > .btn-success.dropdown-toggle:hover,
		.open > .btn-success.dropdown-toggle:focus,
		.open > .btn-success.dropdown-toggle.focus {
			color: #fff; /*fallback white */
			color: var(--white); 

			background-color: #06281b; /*fallback main-shade-2*/
			background-color: var(--main-shade-2);

			border-color: #2e2e40; /*fallback gunmetal*/
			border-color: var(--gunmetal);
		}

	.btn-call-to-action.disabled:hover, .btn-call-to-action.disabled:focus, .btn-call-to-action.disabled.focus, .btn-call-to-action[disabled]:hover, .btn-call-to-action[disabled]:focus, .btn-call-to-action[disabled].focus,
	fieldset[disabled] .btn-call-to-action:hover,
	fieldset[disabled] .btn-call-to-action:focus,
	fieldset[disabled] .btn-call-to-action.focus,
	.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
	fieldset[disabled] .btn-success:hover,
	fieldset[disabled] .btn-success:focus,
	fieldset[disabled] .btn-success.focus {
		color: #f4f7f9; 
		color: var(--offwhite); /*fallback offwhite */

		background-color: #52A387; /*fallback main-tint*/
		background-color: var(--main-tint-1);

		border-color: #17875a;; /*fallback*/
		border-color: var(--main); 

	}

	.btn-call-to-action .badge, .btn-success .badge {
	
		background-color: #f4f7f9; 
		background-color: var(--offwhite); /*fallback offwhite */

		color: #17875a; /*fallback main*/
		color: var(--main);
	}

	.btn-call-to-action:visited, .btn-success:visited {
		color: #f4f7f9; 
		color: var(--offwhite); /*fallback offwhite */; 
	}




