/* cdts overwrites*/
ul.app-list-main>li>a {
    margin-top: 10px;
}


#mb-pnl .modal-header:before {
    border: none;
}

.app-bar-mb .btn {
    border-radius: 0;
}



nav#mb-menu {
    background: #E1E4E7;

}

/*menu button*/
li#wb-glb-mn>a.btn {
    padding: 1em;
    margin: 0 0 0.5em 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

li#wb-glb-mn {
    float: left;
    margin: 0;
    padding: 0;
    border-left: 1px solid #D3D4D8;
    display: table-cell;
    float: none;

}

.app-name {
    font-size: 28px;
    margin-bottom: 6px;
    margin-top: 8px;
    padding: 5px;
    font-weight: bold;
    line-height: 1.1;
}

.app-bar .row>section,
.app-bar .row>nav {
    display: table-cell;
    float: none;
    vertical-align: middle;
}





/* custom mva-cards with dismissable (for session)*/

.mva-cards .wb-dismissable {
    padding: 0;
    margin: 0;
    min-height: inherit;

}

.mva-cards .wb-dismissable-wrapper {

    width: unset;
    min-height: inherit;
    display: flex;
}

.mva-cards .wb-dismissable-container {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;

    position: relative;
    min-height: inherit;
    margin: 0;
    padding: 0 10px 10px 10px;
}



@media (min-width: 576px) {
    .mva-cards .wb-dismissable-container {
        width: 100%;
        
    }
}

@media (min-width: 768px) {
    .mva-cards .wb-dismissable-container {
        
    }
}

@media (min-width: 1200px) {
    .mva-cards .wb-dismissable-container {
        
    }
}


.mva-cards .wb-dismissable-container .mfp-close {
    color: #555;
    display: block;
    position: absolute;
    right: 8px;
    z-index: 1;
}

.mva-cards .panel {
    position: relative;

}




.mva-cards .panel-footer {
    width: 100%;
    text-align: center;
    display: unset;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}


progress,
progress[value]::-webkit-progress-bar {

    height: 1em;
    background-color: whitesmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

}



.panel.svg-leaf { 
    /* color from footer 
    background-color: #26374a;*/
    
    /* color from header */
    background-color: #38414d;
    
    /* color from 2018 redesign 
    background-color: #2e2e40;*/

    background-image: url(https://www.veterans.gc.ca/css/assets/svg-leaf.svg);
    background-repeat: no-repeat;
    background-size: 260%;
    background-position: 200px -225px;
}

.panel.svg-leaf  .panel-body {
    padding: 10px 15px 0;

}