/* header */




p.account-chooser-desc {
    height:auto;
}

@media (min-width: 992px) {
    p.account-chooser-desc {
        height:100px;
    }
}

/* sign-in partner logos */

#logos ul li, #logos ul li img { 
    padding:5px;
}

.panel-footer.bg-white {
    background-color: white;
}



/* custom mva-cards with dismissable (for session)*/

.mva-cards .wb-dismissable {
    padding: 0;
    margin: 0;
    min-height: inherit;

}

.mva-cards .wb-dismissable-wrapper {

    width: unset;
    min-height: inherit;
    display: flex;
}

.mva-cards .wb-dismissable-container {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;

    position: relative;
    min-height: inherit;
    margin: 0;
    padding: 0 10px 10px 10px;
}



@media (min-width: 576px) {
    .mva-cards .wb-dismissable-container {
        width: 100%;
    }
}


.mva-cards .wb-dismissable-container .mfp-close {
    color: #555;
    display: block;
    position: absolute;
    right: 8px;
    z-index: 1;
}

.mva-cards .panel {
    position: relative;

}

.mva-cards .panel-footer {
    width: 100%;
    text-align: center;
    display: unset;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}

progress,
progress[value]::-webkit-progress-bar {

    height: 1em;
    background-color: whitesmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

}

.panel.svg-leaf { 
    /* color from footer 
    background-color: #26374a;*/
    
    /* color from header */
    background-color: #38414d;
    
    /* color from 2018 redesign 
    background-color: #2e2e40;*/

    background-image: url(https://www.veterans.gc.ca/css/assets/svg-leaf.svg);
    background-repeat: no-repeat;
    background-size: 260%;
    background-position: 200px -225px;
}

.panel.svg-leaf  .panel-body {
    padding: 10px 15px 0;

}