<button
  id="help-and-support-button"
  class="transparent circle on-surface-variant tiny-margin"
  title="Help and support"
>
  <i>help</i>
  <menu class="left">
    <li>Help</li>
    <li>Training</li>
    <hr />
    <li>Report a problem</li>
    <li>Send feedback</li>
  </menu>
</button>

<button
  id="menu-button"
  class="transparent circle on-surface-variant tiny-margin"
  title="Account menu"
>
  <i>account_circle</i>
  <menu class="left">
    <li style="justify-content: space-between">
      <span>Theme</span>
      <i>arrow_right</i>
    </li>
    <!--
    <menu class="left">
        <li>Dark</li>
        <li>Light</li>
    </menu>-->
    <li style="justify-content: space-between">
      <span>Density</span>
      <i>arrow_right</i>
    </li>
    <!--
    <menu class="left">
        <li>Dark</li>
        <li>Light</li>
    </menu>-->
    <li style="justify-content: space-between">
      <span>Motion</span>
      <i>arrow_right</i>
    </li>
    <!--
    <menu class="left">
        <li>Dark</li>
        <li>Light</li>
    </menu>-->
    <hr />
    <li>Change user access</li>
    <li>Sign out</li>
  </menu>
</button>
