<ul role="menubar" aria-orientation="vertical">
  <li>
    <a data-ui="search" class="button square round extra primary-container">
      <i>person_search</i>
    </a>
  </li>
  <li role="none">
    <a data-ui="home">
      <i>home</i>
      <span data-i18n="nav.home">Home</span>
    </a>
  </li>
  <li role="none">
    <a data-ui="work-items">
      <i>assignment</i>
      <span>Work items</span>
    </a>
  </li>
  <li role="none">
    <a data-ui="your-work">
      <i>task</i>
      <span>Your work</span>
    </a>
  </li>
</ul>
